footer.footer 
  .footer__logo 
    img(src='/img/logo.png' alt='BooksGram logo')
  ul.footer__nav 
    li: a(href='#') FAQs 
    li: a(href='#') Contact Us
  p.footer__copyright © Copyright 2024 BooksGram | All rights reserved.