header.header
  

  .header__logo
    img(src='/img/header-logo.png' alt='BooksGram logo')
  
  if user 
    nav
      a.nav__el(href='/overview') Books
      a.nav__el.nav__el--logout Log Out 
      a.nav__el(href='/profile') Profile
      
  else
    nav
      a.nav__el(href='/login') Log In 
      a.nav__el.nav__el--cta(href='/signup') Sign Up