extends directory

block pageContent
  .book-form
    h2.heading-secondary.ma-bt-lg Add a Book

    form.form#createBookForm(method='POST', enctype='multipart/form-data')
      .form__group
        label.form__label(for='name') Book Name
        input.form__input(type='text', name='name', id='name', required)

      .form__group
        label.form__label(for='author') Author
        input.form__input(type='text', name='author', id='author', required)

      .form__group
        label.form__label(for='genre') Genre
        input.form__input(type='text', name='genre', id='genre', required)

      .form__group
        label.form__label(for='description') Description
        textarea.form__input(name='description', id='description', required)

      .form__group.form__photo-upload
        label.form__label(for='image') Book-Image
        input.form__upload(type='file', accept='image/*', name='image', id='image')
        label(for='image') Upload Photo
          
      .form__group.form__photo-upload
        label.form__label(for='file') Book-File
        input.form__upload(type='file', accept='pdf/*', name='file', id='file')
        label(for='file') Upload a File
      
      .form__group
        button.btn.btn--blue(type='submit') Add Book
