extends directory

block pageContent

    h2.heading-secondary.ma-bt-lg Delete a Book

    if books.length
      each book in books
        .book-card
          img.book-card__img(src=`/img/books/${book.image}`, alt='Book Image')
          .book-card__details
            h3.book-card__title= book.name
            p.book-card__author Author: #{book.author}

            form(method='POST', action=`/api/v1/books/${book._id}?_method=DELETE`)
              button.btn.btn--red(type='submit') Delete
    else
      p.no-books No books found.