extends base

block content
  main.main
    .user-view
      nav.user-view__menu
        .admin-nav
          h5.admin-nav__heading Manage Directory
          ul.side-nav
            li
              a(href='/manage-directory/add-book')
                svg
                  use(xlink:href='/img/icons.svg#icon-book-open')
                | Add Book

            li
              a(href='/manage-directory/update-book')
                svg
                  use(xlink:href='/img/icons.svg#icon-book-open')
                | Update Book

            li
              a(href='/manage-directory/delete-book')
                svg
                  use(xlink:href='/img/icons.svg#icon-book-open')
                | Delete Book

      // ✅ Main content area for subpages
      .user-view__content
        block pageContent
